Development/OPSolution/CopterDown/bin/
Development/WPFSolution/CopterDown/CopterDown/obj/
Development/WPFSolution/CopterDown/CopterDown/bin/
Development/PrototypeSolution/Prototype/Prototype/obj/
Development/PrototypeSolution/Prototype/Prototype/bin/
