Development/OPSolution/CopterDown/bin/
Development/WPFSolution/CopterDown/CopterDown/obj/
Development/WPFSolution/CopterDown/CopterDown/bin/
Development/PrototypeSolution/Prototype/Prototype/obj/
Development/PrototypeSolution/Prototype/Prototype/bin/
Development/MARMSolution/CopterDown/build_copterdown_vc11/
Development/MARMSolution/CopterDown/build_copterdown_vc12x/
Development/MARMSolution/CopterDown/project_CopterDown/
Development/COGEngine/bin/data/noah/
Development/COGEngine/src/NoahFactory.h
Development/COGEngine/src/NoahFactory.cpp
Development/COGEngine/src/NoahBeMenu.h
Development/COGEngine/src/NoahBeFlip.h
Development/COGEngine/src/NoahBeGame.h
Development/NoahMatching/
*.suo
Development/CopterDown/
Documents/NoahMatching/
Documents/CopterDown/
Development/COGEngineTesting/bin/
Development/COGenginelab/bin/
COGenginelab/bin/
Docs/design/menu.svg
COGenginelab/msys_libs/
COGengine/COGengine.VC.db
COGenginelab/libs/
COGengine/bin/
COGengine/obj/
COGengine/COGengine.sdf
Examples/Scripting3/obj/
Examples/Scripting3/bin/
Examples/Scripting3/Scripting3.VC.db
Examples/Scripting3/Scripting3.VC.VC.opendb
*.sdf
COGenginelab/obj/
COGenginelab/COGenginelab.VC.db
Examples/SceneSwitch/bin/
Examples/SceneSwitch/obj/
Examples/SceneSwitch/SceneSwitch.VC.db
Examples/SceneSwitch/SceneSwitch.VC.VC.opendb
