<config template="iphone (default)" platform="iphone">Created: Mon Apr 6 01:08:28 2015
By: dorma_000
Using Template: iphone (default)

&lt;description to go here><option fromDef="true" value="&quot;universal&quot;" name="iphone-application-type"/>
    <option fromDef="true" value="com.dorma_000.CopterDown" name="iphone-appid"/>
    <option fromDef="true" value="" name="iphone-show-status-bar"/>
    <option fromDef="true" value="" name="iphone-uiviewcontroller-based-status-bar"/>
    <option fromDef="true" value="4.3" name="iphone-minimum-ios-version"/>
    <option fromDef="true" value="" name="iphone-icon-dir"/>
    <option fromDef="true" value="" name="iphone-icon-extra"/>
    <option fromDef="true" value="" name="iphone-prerendered-icon"/>
    <option fromDef="true" value="" name="iphone-skip-icon-generation"/>
    <option fromDef="true" value="" name="iphone-launch-dir"/>
    <option fromDef="true" value="" name="iphone-launch-storyboard"/>
    <option fromDef="true" value="" name="iphone-launch-extra"/>
    <option fromDef="true" value="" name="iphone-skip-launch-generation"/>
    <option fromDef="true" value="" name="iphone-disable-launch-images"/>
    <option fromDef="true" value="" name="iphone-allow-launch-rotation"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="CopterDown" name="name"/>
    <option fromDef="true" value="CopterDown" name="caption"/>
    <option fromDef="true" value="dorma_000" name="provider"/>
    <option fromDef="true" value="(C) dorma_000" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="English" name="iphone-region"/>
    <option fromDef="true" value="" name="iphone-info-plist"/>
    <option fromDef="true" value="" name="iphone-persistent-wifi"/>
    <option fromDef="true" value="" name="iphone-backgroundmode-audio"/>
    <option fromDef="true" value="" name="iphone-app-fonts"/>
    <option fromDef="true" value="" name="iphone-bundle-localisations"/>
    <option fromDef="true" value="" name="iphone-bundle-url-name"/>
    <option fromDef="true" value="" name="iphone-bundle-url-schemes"/>
    <option fromDef="true" value="" name="itunes-artwork"/>
    <option fromDef="true" value="" name="iphone-info-plist-override"/>
    <option fromDef="false" value="[]" name="iphone-extra-string"/>
    <option fromDef="true" value="" name="iphone-info-plist-sniplets"/>
    <option fromDef="true" value="" name="iphone-nosign"/>
    <option fromDef="true" value="" name="iphone-sign-for-distribution"/>
    <option fromDef="true" value="" name="iphone-provisioning-profile"/>
    <option fromDef="true" value="" name="iphone-signing-identity"/>
    <option fromDef="true" value="" name="iphone-testflight"/>
</config>
