<config template="project (default)" platform="project">Created: Mon Apr 6 01:08:26 2015
By: dorma_000
Using Template: project (default)

&lt;description to go here>
<option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="CopterDown" fromDef="true"/>
    <option name="caption" value="CopterDown" fromDef="true"/>
    <option name="provider" value="dorma_000" fromDef="true"/>
    <option name="copyright" value="(C) dorma_000" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
