<config template="project (default)" platform="project">Created: Mon Apr 6 01:08:26 2015
By: dorma_000
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="CopterDown" name="name"/>
    <option fromDef="true" value="CopterDown" name="caption"/>
    <option fromDef="true" value="dorma_000" name="provider"/>
    <option fromDef="true" value="(C) dorma_000" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
