<config template="wp8 (default)" platform="wp8">Created: Mon Apr 6 01:08:28 2015
By: dorma_000
Using Template: wp8 (default)

&lt;description to go here><option name="wp8-author" value="" fromDef="true"/>
    <option name="wp8-publisher-id" value="" fromDef="true"/>
    <option name="wp8-description" value="" fromDef="true"/>
    <option name="wp8-product-id" value="" fromDef="true"/>
    <option name="wp8-exclude-wvga" value="" fromDef="true"/>
    <option name="wp8-exclude-wxga" value="" fromDef="true"/>
    <option name="wp8-exclude-720p" value="" fromDef="true"/>
    <option name="wp8-higher-mem" value="" fromDef="true"/>
    <option name="wp8-exclude-low-mem" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="CopterDown" fromDef="true"/>
    <option name="caption" value="CopterDown" fromDef="true"/>
    <option name="provider" value="dorma_000" fromDef="true"/>
    <option name="copyright" value="(C) dorma_000" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-title" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-back-title" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-back-content" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-small-image" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-medium-front-image" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-medium-back-image" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-supports-large" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-large-front-image" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-large-back-image" value="" fromDef="true"/>
    <option name="wp8-tile-fliptemplate-large-back-content" value="" fromDef="true"/>
    <option name="wp8-extra-res" value="" fromDef="true"/>
    <option name="wp8-custom-manifest" value="" fromDef="true"/>
    <option name="wp8-custom-manifest-fill" value="" fromDef="true"/>
    <option name="wp8-genre-isgame" value="" fromDef="true"/>
    <option name="wp8-ext-capabilities" value="" fromDef="true"/>
    <option name="wp8-fast-resume-mode" value="" fromDef="true"/>
</config>
