<config template="wp81 (default)" platform="wp81">Created: Mon Apr 6 01:08:28 2015
By: dorma_000
Using Template: wp81 (default)

&lt;description to go here><option fromDef="true" value="" name="wp81-publisher-display-name"/>
    <option fromDef="true" value="" name="wp81-publisher-id"/>
    <option fromDef="true" value="" name="wp81-identity-name"/>
    <option fromDef="true" value="" name="wp81-description"/>
    <option fromDef="true" value="" name="wp81-product-version"/>
    <option fromDef="true" value="" name="wp81-product-name"/>
    <option fromDef="true" value="" name="wp81-custom-manifest"/>
    <option fromDef="true" value="" name="wp81-custom-manifest-fill"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="CopterDown" name="name"/>
    <option fromDef="true" value="CopterDown" name="caption"/>
    <option fromDef="true" value="dorma_000" name="provider"/>
    <option fromDef="true" value="(C) dorma_000" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="wp81-logo-image150x150"/>
    <option fromDef="true" value="" name="wp81-logo-image50x50"/>
    <option fromDef="true" value="" name="wp81-logo-image44x44"/>
    <option fromDef="true" value="" name="wp81-splash-screen-image480x800"/>
    <option fromDef="true" value="" name="wp81-splash-screen-background"/>
    <option fromDef="true" value="" name="wp81-extra-res"/>
    <option fromDef="true" value="" name="wp81-ext-capabilities"/>
    <option fromDef="true" value="" name="wp81-ext-device-capabilities"/>
</config>
