<config template="ws80 (default)" platform="ws80">Created: Mon Apr 6 01:08:28 2015
By: dorma_000
Using Template: ws80 (default)

&lt;description to go here><option name="ws8-publisher-display-name" value="" fromDef="true"/>
    <option name="ws8-publisher-id" value="" fromDef="true"/>
    <option name="ws8-identity-name" value="" fromDef="true"/>
    <option name="ws8-description" value="" fromDef="true"/>
    <option name="ws8-product-version" value="" fromDef="true"/>
    <option name="ws8-product-name" value="" fromDef="true"/>
    <option name="ws8-custom-manifest" value="" fromDef="true"/>
    <option name="ws8-custom-manifest-fill" value="" fromDef="true"/>
    <option name="ws8-logo-image150x150" value="" fromDef="true"/>
    <option name="ws8-logo-image50x50" value="" fromDef="true"/>
    <option name="ws8-logo-image30x30" value="" fromDef="true"/>
    <option name="ws8-splash-screen-image620x300" value="" fromDef="true"/>
    <option name="ws8-splash-screen-background" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="CopterDown" fromDef="true"/>
    <option name="caption" value="CopterDown" fromDef="true"/>
    <option name="provider" value="dorma_000" fromDef="true"/>
    <option name="copyright" value="(C) dorma_000" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="ws8-distribution-cer" value="" fromDef="true"/>
    <option name="ws8-certificate-end-date" value="" fromDef="true"/>
    <option name="ws8-distribution-pfx" value="" fromDef="true"/>
    <option name="ws8-distribution-pfx-password" value="" fromDef="true"/>
    <option name="ws8-extra-res" value="" fromDef="true"/>
    <option name="ws8-ext-capabilities" value="" fromDef="true"/>
    <option name="ws8-ext-device-capabilities" value="" fromDef="true"/>
</config>
